.cell {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	border: 1px solid #0e6ba8;
}

.cell:nth-child(even) {
	color: #fff;
	background-color: #782aaf;
}

.cell:hover {
	color: black;
	background-color: yellow;
}

.header {
	color: #fff;
	background: #00072d !important;
	text-align: center;
}

.title {
	text-align: center;
	background-color: #0e6ba8;
	width: 100% auto;
	margin: 20px auto;
	padding: 5px;
	border-bottom: 1px #333 solid;
}

input {
	text-align: center;
	border: none;
	width: 20%;
}
input:focus {
	border: none;
	background-color: yellow;
}

a {
	text-decoration: none;
	background-color: #782aaf;
	border: 1px solid #333;
	color: #fff;
	border-radius: 10px;
	margin: 10px auto;
	padding: 5px;
}
